<%- include('partials/header')  %>
<main class="mt-5 " >
    <h2 class="pt-5 mb-5">Cadastro da coordenação</h2>
    <div class="card p-3">
        <form id="cadastrar_coordenador" >
            <input type="text" class="form-control mb-3" placeholder="Digite seu SIAPE" id="siape_coordenador" minlength="7" required>   
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Email" id="email_coordenador" required>
                <span class="input-group-text" id="basic-addon2">@ifpa.edu.br</span>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Telefone" minlength="14" id="telefone_coordenador" required>
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Senha" id="senha_coordenador" required>
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Confirmar senha" required>
            </div>
            <button type="submit" class="btn btn-green">Cadastrar</button>
        </form>
    </div>
</main>
<%- include('partials/footer')  %>