<%- include('partials/header')  %>
<main class="mt-5 " >
    <h2 class="pt-5 mb-5">Cadastro da coordenação</h2>
    <div class="card p-3">
        <form  action="/add" method="post" >
            <div class="input-group mb-3">
                <input type="text" id="nome_coordenador" name="nome" class="form-control" placeholder="Digite seu nome e sobrenome" id="siape_coordenador" required>   
            </div>
            <div class="input-group mb-3">
                <input type="text" id="siape_coordenador" name="siape" class="form-control" placeholder="Digite seu SIAPE" id="siape_coordenador" minlength="7" required>   
            </div>
            <div class="input-group mb-3">
                <input type="text" id="email" name="email" class="form-control" placeholder="Email" id="email_coordenador" required>
                <span class="input-group-text" id="basic-addon2">@ifpa.edu.br</span>
            </div>
            <div class="input-group mb-3">
                <input type="text"id="telefone_coordenador"  name="telefone" class="form-control" placeholder="Telefone" minlength="14" id="telefone_coordenador" required>
            </div>
            <div class="input-group mb-3">
                <input type="password" id="password" name="password" class="form-control" placeholder="Senha" id="senha_coordenador" required>
            </div>
            <div class="input-group mb-3">
                <input type="password" id="rpassword" class="form-control" placeholder="Confirmar senha" required>
            </div>
            <button type="submit" class="btn btn-green">Cadastrar</button>
        </form>
    </div>
</main>
<%- include('partials/footer')  %>