<%- include('partials/header')  %>
<main class="mt-5">
    <% if (message) { %>
        <div class="alert alert-dismissible fade show alert-<%= message.type  %>"
            role="alert">
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
        <strong><%= message.message %></strong>
        </div>
        <% } %>
    <h2 class="pt-5">O que é o JIFs, etapa estadual?</h2>
    <p class="pt-3">
        Os Jogos dos Institutuos Federais (JIF) 
        Etapa estadual configuram-se em um conjunto
        de atividades esportivas e culturais que buscam estimular
        o convívio solidário entre alunos e servidores, a integração 
        entre os campi, a promoção e a valorização da Educação e do Esporte 
        na formação integral do estudante, além de:
    </p>
    <ol>
        <li>
            <p>
                Promover um conjunto de atividades esportivas, de características integradoras e solidárias, que reúna discentes e servidores dos campi do IFPA.
            </p>
        </li>
        <li>
            <p>
                Prestará uma importante contribuição para desenvolver e consolidar as ações da área do conhecimento de Educação Física, no contexto do IFPA.
            </p>
        </li>
        <li>
            <p>
                Expandir o conhecimento do esporte em uma perspectiva integralizadora, de modo a oferecer mais oportunidade de acesso à prática desportiva e ao desenvolvimento da cidadania.
            </p>
        </li>
        <li>
            <p>
                Esta é uma promoção da PROEX/IFPA com apoio das Diretorias Gerais dos Campi, articulada entre as Coordenações de Extensão e os servidores da área de Educação Física, cuja organização está sob a responsabilidade de uma Comissão com competências específicas para a execução do evento.
            </p>
        </li>
        <li>
            <p>
                O Edital reúne o conjunto das normas que regem a participação nas atividades esportivas e culturais que compõem os JIF Etapa estadual 2024, em atendimento a política de incentivo aos esportes, no âmbito do IFPA, assegurando ao estudante acesso à prática esportiva.
        </li>
    </ol>

</main>
<%- include('partials/footer')  %>