<%- include('partials/header')  %>
<main class="mt-5" >
    <div class="modalities">
        <h2 class="pt-5 mb-5">Acompanhe os jogos de seu Campi</h2>
        <ul class="modalities__block gap-5">
            <li>
                <a href="" class="card p-2" >
                    <i class="fa-solid fa-volleyball"></i>
                    <div class="card-body">
                        <h5 class="card-title">Volei</h5>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="card p-2">
                    <i class="fa-solid fa-basketball"></i>
                    <div class="card-body">
                        <h5 class="card-title">Basquete</h5>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="card p-2">
                    <i class="fa-solid fa-futbol"></i>
                    <div class="card-body">
                        <h5 class="card-title">Futebol</h5>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="card p-2">
                    <i class="fa-solid fa-person-swimming"></i>
                    <div class="card-body">
                        <h5 class="card-title">Natação</h5>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="card p-2">
                    <i class="fa-solid fa-table-tennis-paddle-ball"></i>
                    <div class="card-body">
                        <h5 class="card-title">Tênis de Mesa</h5>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="card p-2">
                    <i class="fa-solid fa-person-running"></i>
                    <div class="card-body">
                        <h5 class="card-title">Atletismo</h5>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="card p-2">
                    <i class="fa-solid fa-chess-knight"></i>
                    <div class="card-body">
                        <h5 class="card-title">Xadrez</h5>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="card p-2">
                    <i class="fa-solid fa-hand"></i>
                    <div class="card-body">
                        <h5 class="card-title">handbol</h5>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="card p-2">
                    <i class="fa-solid fa-umbrella-beach"></i>
                    <div class="card-body">
                        <h5 class="card-title">Vôlei de praia</h5>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="card p-2">
                    <i class="fa-solid fa-user-ninja"></i>
                    <div class="card-body">
                        <h5 class="card-title">Judô</h5>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="card p-2">
                    <i class="fa-solid fa-baseball"></i>
                    <div class="card-body">
                        <h5 class="card-title">Futsal</h5>
                    </div>
                </a>
            </li>
            
            
            
        </ul>
    </div>
    <div class="inscricao_atletas">

    </div>
</main>
<%- include('partials/footer')  %>