<footer class="rodape" >
        <div class="container rodape__icones">
            <ul class="rodape__iconee_list">
                <li class="rodape__iconee_list--link">
                    <a href="https://www.facebook.com/ifpaoficial/"><i class="fa-brands fa-facebook"></i></a>
                </li>
                <li class="rodape__iconee_list--link">
                    <a href="https://x.com/i/flow/login?redirect_after_login=%2Fifpaoficial"><i class="fa-brands fa-twitter"></i></a>
                </li>
                <li class="rodape__iconee_list--link">
                    <a href="https://www.youtube.com/ifpaoficial"><i class="fa-brands fa-youtube"></i></a>
                </li>
            </ul>
            <p class="rodape__text">
                &copy; Todos os direitos reservados - IFPA - 2024
            </p>
        </div>
        
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../../scripts/libs/jquery.mask.min.js"></script>
<script src="../../scripts/main.js">
</script>
</body>
</html>