<%- include('../partials/header')  %>
<main class="mt-5">
    
    <h2 class="pt-5">Painel</h2>
    <% if (message) { %>
        <div class="alert alert-dismissible fade show alert-<%= message.type  %>"
            role="alert">
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
        <strong><%= message.message %></strong>
        </div>
        <% } %>
    

</main>

<%- include('../partials/footer')  %>